{% extends 'base.html' %}

{% block title %}
{{ recipe.title }} - Scrumptious Recipes
{% endblock title %}

{% block content %}
<header>
  <nav>
    <a href="{% url 'recipe_list' %}">Main page</a>
  </nav>
</header>
<main>
  <h1>Edit {{ recipe.title }}</h1>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button>Update</button>
  </form>
</main>
{% endblock content %}
