{% extends 'base.html' %}

{% block title %}
Scrumptious Recipes
{% endblock title %}

{% block content %}
<header>
  <nav>
    <a href="{% url 'recipe_list' %}">Main page</a>

    {% if user.is_authenticated %}
      Hello, {{ user.username }}
      <a href="{% url 'user_logout' %}">Logout</a>
      <a href="{% url 'create_recipe' %}">Create a recipe</a>
      <a href="{% url 'my_recipe_list' %}">My recipes</a>
      {% else %}
      <a href="{% url 'signup' %}">Sign up</a>
      <a href="{% url 'user_login' %}">Login</a>
    {% endif %}
  </nav>
</header>
<main>
  <h1>Scrumptious Recipes</h1>
  <h2>All the food that's fit to eat</h2>
  <div class="recipe-grid">
    {% for recipe in recipe_list %}
    <div>
      <h3>
        <a href="{% url 'show_recipe' recipe.id %}">{{ recipe.title }}</a>
      </h3>
      <p>{{ recipe.created_on|date:"M j, Y" }}</p>
      <img src="{{ recipe.picture }}">
      <div>{{ recipe.average_rating }} star{% if recipe.average_rating != 1 %}s{% endif %}</div>
    </div>
    {% endfor %}
  </div>
</main>
{% endblock content %}
